* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/FondoRC6.png);
    background-size: cover;
  }
  
  .container-formulario {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
  }
  
  .informacion {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #eaba40;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-bienvenida {
    width: 100%;
    padding: 0 30px;
  }
  
  .info-bienvenida h2 {
    font-size: 2.5rem;
    color: black;
  }
  
  .info-bienvenida p {
    margin: 15px 0 ;
    color: black;
  }
  
  .info-bienvenida input {
    background-color: transparent;
    outline: none;
    border: solid 2px white;
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .info-bienvenida input:hover {
    background-color: white;
    border: none;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .info-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .info-login-mini {
    padding: 0 30px;
  }
  
  .info-login-mini h2 {
    color: black;
    font-size: 2rem;
  }
  
  .info-login-mini p {
    color: black;
  }
  
  .formulario {
    margin: 30px 0 0 0;
  }
  
  .formulario label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .formulario label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
  }
  
  .formulario label i {
    color: black;
  }
  
  .formulario input[type="submit"] {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: solid 2px #eaba40;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .formulario input[type="submit"]:hover {
    background-color: #eaba40;
  }
  
  .hide {
    position: absolute;
    transform: translateY(-300%);
  }
  
  /*PERSONALIZACION DE MIS ALERTAS Y MENSAJES */
  .formulario div .alerta {
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
  }
  
  .formulario > .alerta-error,
  .formulario > .alerta-exito {
    display: none;
  }
  
  .formulario .alertaError {
    display: block;
    background-color: #F66060;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .formulario .alertaExito {
    display: block;
    background-color: #0ca828;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .formulario .error {
    outline: solid 2px #9d2222;
  }
  
  @media screen and (max-width:750px) {
    html {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:580px) {
    html {
      font-size: 15px;
    }
  
    .container-formulario {
      height: auto;
      flex-direction: column;
    }
  
    .informacion {
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0;
    }
  
    .info-login {
      width: 100%;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
    }
  
    /* Estilo responsive para términos y condiciones */
    .terminosycondiciones {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .terminosycondiciones input[type="checkbox"] {
      margin: 0 0 10px 0; /* Espacio entre el checkbox y el texto en dispositivos pequeños */
    }
  }
  
  /* Estilo para términos y condiciones */
  .terminosycondiciones {
    display: flex;
    align-items: center;
  }
  
  .terminosycondiciones input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
  }
  
  .terminosycondiciones p {
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina el margen por defecto del párrafo */
    display: inline; /* Asegura que el texto esté en línea */
  }
  